<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
      const map = L.map("mapid").setView([<%= latitude%>, <%= longitude%>], 13);
      console.log(<%= latitude %>)

      L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        attribution:'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors',
        maxZoom: 18,
      }).addTo(map);

      marker = L.marker([<%= latitude%>, <%= longitude%>]).addTo(map);
      marker.bindPopup("<b><%= ref %></b><br> <%= latitude %>,<%= longitude %>").openPopup();
      L.circle([<%= latitude%>, <%= longitude%>], {color: 'red', fillColor: '#f03', fillOpacy:'0.25',radius: '<%= accuracy %>'}).addTo(map)

});
    </script>

  </head>
  <body>
    <div class="content-wrapper">
      <div class="header">
        <div class="header__title__1">MAC Mapper</div>
        <div class="header__title__2"><%= pageTitle %></div>
      </div>

      <%- include('../includes/navigation.ejs') %>

    <div class="main">
      <div id="mapid"></div>
      <table class="table-details">
        <tr>
          <th>Reference</th>
          <th>MAC Address 1</th>
          <th>MAC Address 2</th>
          <th>Lat</th>
          <th>Long</th>
          <th>Accuracy</th>
        </tr>
        <tr>
          <td><%= ref %></td>
          <td><%= mac1 %></td>
          <td><%= mac2 %></td>
          <td><%= latitude %></td>
          <td><%= longitude %></td>
          <td><%= accuracy %>M</td>
        </tr>
      </table>

    </div>

    <%- include('../includes/footer.ejs') %>
    </div>
  </body>

</html>
